$primary_color1:hsl(249, 99%, 64%);
$primary_color2:hsl(278, 94%, 30%);
$primary_color3:hsl(0, 100%, 66%);

$neutral_color1:hsl(0, 0%, 100%);
$neutral_color2:hsl(270, 3%, 87%);
$neutral_color3:hsl(279, 6%, 55%);
$neutral_color4:hsl(278, 68%, 11%);

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

$font-weight: (
  "medium": 500
);

body{
  background: $neutral_color1;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: map-get($font-weight , medium);
  margin: 0;
}

.card_front{
  position: absolute;
  top: 15%;
  left: 10%;
  width: 400px;
  height: 200px;
     img{
      width: 100%;
     }
}

.card_back{
  position: absolute;
  top: 55%;
  left: 15%;
  width: 400px;
  height: 200px;
     img{
      width: 100%;
     }
}

.left_box{
  width: 30%;
  float: left;
    img{
      width: 100%;
    }
}

.right_box{
  width: 70%;
  float: right;
    form{
       label{
         color: $primary_color2;
       }
    }

    .form_container{
      width: 500px;
      height: 400px;
      position: absolute;
      left: 75%;
      top: 55%;
      transform: translate(-50%,-50%);
      label {
        display:flex;
        flex-direction:column;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 0.7rem;
        color: $neutral_color4;
        font-weight: 700;
      }
      label:nth-child(5){
        padding-right: 5px;
      }
      label:nth-child(8){
         width: 100px;
         position: absolute;
         left: 30%;
         top: 35.5%;
      }
     
      input{
        width: 250px;
        height: 20px;
        padding: 5px 5px;
        border: 1px solid $neutral_color3;
        border-radius: 5px;
        font-weight: map-get($font-weight , medium);
      }
      #MM,#YY{
        width: 50px;
      }
      #CVC{
        width: 105px;
        margin-left: 15px;
      }

      #button{
        display:flex;
        background: $neutral_color4;
        color: $neutral_color1;
        flex-direction:column;
        margin-top: 15px;
        padding: 12px 0;
        width: 265px;
        height: 40px;
        align-items: center;
        border: none;
        font-weight: 700;
      }
    } 
}


